:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }

  p {
    width: 100%;
  }

  label {
    font-size: 1.3em;
    width: 100%;
    text-align: left;
    font-weight: bold;
  }
}

.description-input {
  width: 100%;
  height: 100px;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
  resize: none;
}

.category-tag {
  display: flex;
  align-items: center;
  padding: 0 0.5em 0 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  gap: 1em;
  font-size: 0.7em;
}

.categories-container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 1em 0;
}

.delete-icon {
  padding: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.add-category-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  input {
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
  }
}

.add-icon {
  position: absolute;
  height: 100%;
  padding: 3px;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.loading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#categorize-form {
  max-width: 300px;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

@media (width> 768px) {
  :host {
    text-align: center;
  }
  form{
    align-items: flex-start;
    h3, p, h4{
      width: 100%;
    }
    img{
      margin: 0 auto;
    }
  }

  .btn-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
