@if(askingAi){
<p>Our Ditto AI is working...</p>
}@else { @if(resourceResponse){
<form (keydown.enter)="$event.preventDefault()" (submit)="createResource($event)" id="create-resource-form">
  <h3>This is what ditto has suggested</h3>
  <p>Modify the suggested fields as you like or create the resource directly</p>
  <h4>{{ newResource.url }}</h4>
  <label for="title">Title</label>
  <input [(ngModel)]="newResource.title" name="title" type="text" />
  <label for="description">Description</label>
  <textarea
    class="description-input"
    [(ngModel)]="newResource.description"
    name="description"
    type="text"
  >
  </textarea>
  <label for="category">Add categories</label>
  <div class="add-category-container">
    <input
      [(ngModel)]="categoryInput"
      (keyup.enter)="addCategory()"
      name="category"
      type="text"
    />
    <img
      class="add-icon"
      (click)="addCategory()"
      src="./add.svg"
      alt="add icon"
    />
  </div>
  <section class="categories-container">
    @for(category of resourceResponse.categories; track $index){
    <div class="category-tag">
      {{ category }}
      <img
        (click)="deleteCategory($index)"
        class="close-icon"
        src="./close.svg"
        alt="close icon"
      />
    </div>
    }
  </section>
  <button class="btn">Create resource</button>
</form>
}@else {
<form id="categorize-form" (submit)="categorizeResource()">
  <h3>Add new resource</h3>
  <label for="title">URL</label>
  <input [(ngModel)]="url" name="url" type="text" />
  <button class="btn">Send</button>
</form>
} }
