:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%;

  h3 {
    font-size: 6rem;
    font-weight: bold;
  }

  h4 {
    overflow-wrap: break-word;
    width: 100%;
  }

  p {
    width: 100%;
  }

  label {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
}

.description-input {
  border-radius: 5px;
  border: 0.5rem solid #ccc;
  font-family: "Roboto", sans-serif;
  height: 25rem;
  padding: 2rem 4rem;
  resize: none;
  width: 100%;
}

.category-tag {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 4rem;
  background-color: #f0f0f0;
  border-radius: 1rem;
  gap: 4rem;
  font-size: 3rem;
}

.categories-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 4rem 0;
}

.delete-icon {
  padding: 10px;
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}

.add-category-container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  input {
    width: 100%;
    padding: 2rem 4rem;
    border-radius: 1rem;
    border: 0.5rem solid #ccc;
    font-family: "Roboto", sans-serif;
  }
}

.add-icon {
  position: absolute;
  height: 100%;
  padding: 1rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.loading-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#categorize-form {
  max-width: 75rem;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.icon-image, .color-square {
  width: 8rem;
  height: 8rem;
  margin: 1px;
  padding: 0;
}

input.color-square{
  border: none;
  background-color: transparent;
  appearance: none;
  width: 100%;
}

@media (width> 768px) {
  :host {
    text-align: center;
  }
  form {
    align-items: flex-start;
    h3,
    p,
    h4 {
      width: 100%;
    }
    .ditto-image {
      margin: 0 auto;
    }
  }

  .btn-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.delete-resource{
  background-color: #dc3545;
  color: white;
  margin-top: 15rem;
  text-align: center;
  width: 50%;
  font-size: 3rem;
}

.error-container {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 100%;
}