<div (click)="close()" class="layout"></div>
<section class="modal">
  <img
    (click)="close()"
    class="close-icon"
    src="./close.svg"
    alt="close icon"
  />
  <ul id="filter-container">
    @if(isLoading){ @for(card of emptyCards; track $index){
    <li class="checkbox-container loading"></li>
    } }@else{ @for(filter of filtersAvailable; track $index){
    <li
      class="checkbox-container"
      (click)="toggleFilterOption(filter)"
      [class.selected]="filterOptions.includes(filter)"
    >
      {{ filter }}
    </li>
    } }
  </ul>
  <p class="pages-container">{{ page }}/{{ totalPages }}</p>
  <button (click)="filter()" class="btn">Filter</button>
  <img
    (click)="updatePage(page - 1)"
    id="left-arrow"
    src="./left.svg"
    alt="left arrow"
  />
  <img
    (click)="updatePage(page + 1)"
    id="right-arrow"
    src="./right.svg"
    alt="right arrow"
  />
</section>
