#ditto-logo,
#book-icon {
  height: 18rem;
  padding: 4rem;
  width: 18rem; 
}

header{
  background-color: #313131;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  margin: 0  auto 8rem;
  max-width: 200rem; 
  
  a{
    color: white;
    text-decoration: none;
    padding: 5rem;
  }
}
