#ditto-logo,
#book-icon {
  height: 18rem;
  padding: 4rem;
  width: 18rem; 
}

header{
  background-color: #313131;
}

nav {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  margin: 0 auto;
  max-width: 200rem; 
  
  h1{
    font-size: 6rem;
  }
}
