.resource-card {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  list-style-type: none;
  min-height: 75rem;
  padding: 4rem;
  transition: 300ms;
  width: 75rem;
  position: relative;
  overflow: hidden;


  animation-fill-mode: both;
  animation-name: appear;
  animation-range: entry 15% cover 20%;
  animation-timeline: --display;
  view-timeline-name: --display;

  .link-container {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #313131;
    font-weight: 500;
  }

  a:hover {
    text-decoration: underline;
  }

  &:hover {
    box-shadow: 3rem 3rem 2rem 0 rgba(0, 0, 0, 0.2);
    transform: translate(-1rem, -1rem);
  }
}

.resource-title-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
  .resource-icon {
    height: 5rem;
    margin-right: 1rem;
    width: 5rem;
  }

  .resource-title {
    font-size: 4rem;
  }
}

.background-card {
  background-size: 100% 40px;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(50px);
  transform: scale(90);
  top: 0;
  left: 0;
  width: 75rem;
  height: 4rem;
  position: absolute;
  z-index: -1;
}

/* .zoom-icon {
  padding: 6px;
  width: 35px;
  height: 35px;
  cursor: pointer;
} */

.tags-tag {
  font-size: 4rem;
}

.category-card {
  background-color: #f0f0f0;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 3rem;
  padding: 2rem 4rem;
  transition: 300ms;
}

.category-card:hover {
  background-color: #e0e0e0;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
