.resource-card{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: antiquewhite;
    padding: 1em;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.resource-title{
    display: flex;
    align-items: center;
    gap: 0.5em;
    img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

.categories-container{
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    
}

.category-card{
    padding: 0.5em 1em;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: .7em;
  
}