.resource-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 1em;
  width: 300px;
  min-height: 70px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  transition: 300ms;
  height: 70px;

  a {
    text-decoration: none;
    color: #313131;
    font-weight: 500;
  }

  &:hover {
    transform: translate(-5px, -5px);
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.resource-card.expanded {
  height: auto;
}

.resource-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  .resource-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  a {
    width: 100%;
  }
}

.zoom-icon {
  padding: 6px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.tags-tag {
  font-size: 0.7em;
}

#dust-animation{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 150%;
  height: 150%;
  z-index: -1000;
  pointer-events: none;
}