<li class="resource-card" [style.backgroundColor]="resource?.color">
  <div class="resource-title-container">
    <img
      class="resource-icon"
      [src]="resource?.favIcon"
      [alt]="resource?.title"
    />
    <div class="link-container">
      <a class="resource-title" href="{{ resource?.url }}" target="_blank">{{
        resource?.title
      }}</a>
    </div>
  </div>
  <p>{{ resource?.description }}</p>
  <div>
    <hr />
    <section class="categories-container">
      <span class="category-card">{{ resource?.mainCategory }}</span>
      @for (category of resource?.categories; track $index){
      <span class="category-card">{{ category }}</span>
      }
    </section>
  </div>
  @if(isAdmin){
  <a routerLink="{{ '/resource/edit/' + resource?._id }}">edit</a>
  }
</li>

@if(showModal){
<app-card-modal (closeModal)="closeModal()" [resource]="resource" />
}
