:host {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4rem;
  p {
    text-align: center;
  }
}

h3 {
  font-size: 12rem;
  font-weight: 200;
  grid-column: span 2;
}

.resources-ul {
  list-style: none;
  grid-column: span 6;
  width: calc(100% + 15vw);
  display: flex;
  gap: 4rem;
  padding: 0 4rem;
  justify-content: flex-start;
  border-left: 3px solid red;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}

.resources-ul::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
  gap: 4rem;
  padding: 0 4rem;
  border-left: 3px solid red;
}

.resources-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}

.all-resources {
  grid-column: span 8;
  display: grid;
  gap: 4rem;
}

#search-form {
  grid-column: span 8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem;
}

#filter-icon {
  cursor: pointer;
  padding: 2rem;
  background-color: #313131;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 5rem;
    height: 5rem;
  }
}

#input-section {
  width: 300px;
  display: flex;
  gap: 4rem;
}

#add-icon {
  margin-top: 8rem;
  cursor: pointer;
  width: 8rem;
  padding: 3px;
}

#add-link {
  text-align: center;
  width: 8rem;
  margin: 0 auto;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  grid-column: span 8;
}

.filter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5rem;
  gap: 1rem;
  padding: 2rem 4rem;
  background-color: #75e59c;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 3rem;
  animation: grow-and-shrink 300ms;
}

@media (width> 768px) {
  #search-form {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
