<form id="search-form" (submit)="onSearch()">
  <section id="input-section">
    <input
      class="search-input"
      name="searchQuery"
      [(ngModel)]="searchQuery"
      type="text"
      placeholder="Search for resources..."
    />
    <img
      (click)="toggleFilterModal()"
      id="filter-icon"
      src="./filter.svg"
      alt="filter icon"
    />
  </section>
  <button class="btn" type="submit">Search</button>
</form>

@if(loading){
<p>Loading...</p>
}

@for (result of searchResults; track result){
    <div class="results-container">
      <h3>{{result.category.toUpperCase()}}</h3>
      <ul class="resources-container">
        @for(resource of result.resources; track resource){
            <app-resource-card [resource]="resource" />
        }
      </ul>
    </div>
    <!-- <app-resource-card [resource]="resource" /> -->
  }
  @empty{
    <p>No results found</p>
  }
  @if(errorMessage){
<p class="error">{{ errorMessage }}</p>
}

<a id="add-link" routerLink="/resource/create">
  <img id="add-icon" src="./add.svg" alt="add icon" />
</a>

@if (showFilterModal){
<app-filter-modal
  (closeModal)="toggleFilterModal()"
  (filterOptionsChange)="onFilter($event)"
/>
}
