<form id="search-form" (submit)="onSearch()">
  <section id="input-section">
    <input
      (input)="onSearch()"
      class="search-input"
      name="searchQuery"
      [(ngModel)]="searchQuery"
      type="text"
      placeholder="Search for resources..."
    />
    <img
      (click)="toggleFilterModal()"
      id="filter-icon"
      src="./filter.svg"
      alt="filter icon"
    />
  </section>
</form>

@if(loading){
<div class="results-container">
  <h3>LOADING RESOURCES</h3>
  <ul class="resources-container">
    @for (card of loadingCards; track $index){
    <app-loading-card />
    }
  </ul>
</div>
} @for (result of searchResults; track $index){
<div class="results-container">
  <h3>{{ result.category.toUpperCase() }}</h3>
  <ul class="resources-container">
    @for(resource of result.resources; track resource._id){
    <app-resource-card
    (searchQueryChange)="onSearchQueryChange($event)"
    [isAdmin]="isAdmin" [resource]="resource" />
    }
  </ul>
</div>
<!-- <app-resource-card [resource]="resource" /> -->
} @empty{ @if(!loading && !errorMessage){
<p>No results found</p>
} } @if(errorMessage){
<p class="error">{{ errorMessage }}</p>
} @if(isAdmin){
<a id="add-link" routerLink="/resource/create">
  <img id="add-icon" src="./add.svg" alt="add icon" />
</a>
} @if (showFilterModal){
<app-filter-modal
  (closeModal)="toggleFilterModal()"
  (filterOptionsChange)="onFilter($event)"
/>
}
