.main {
  padding-bottom: 8em;
  margin: 0 auto;
  width: 300px;
}

@media screen and (width> calc(600px + 2em)) {
  .main {
    width: calc(600px + 1em);
  }
}

@media screen and (width> calc(900px + 3em)) {
  .main {
    width: calc(900px + 2em);
  }
}
