*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e8e9fd;
}

.btn{
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #007bff;
    width: 300px;
    color: white;
    border: none;
    cursor: pointer;
}

input {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}