:host {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  gap: 4rem;
  margin: 0 auto;
  max-width: 100rem;

  h2 {
    font-size: 5rem;
  }
}

.avatar,
.ditto {
  display: block;
  height: 25rem;
  margin: 0 auto;
  padding: 1rem;
  width: 25rem;
}

.avatar {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.social-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-icon {
  display: block;
  height: 10rem;
  width: 10rem;
}

.disclaimer {
  font-size: 3rem;
}

@media screen and (width> 960px) {
  :host {
    font-size: 5rem;
    max-width: 175rem;

    h2 {
      font-size: 6rem;
    }
  }

  .ditto {
    height: 25rem;
    width: 25rem;
  }
}
