:host {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 100rem; 
  font-size: 4rem;
  h2 {
    font-size: 5rem;
  }
}

.avatar,
.ditto {
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  display: block;
}

.avatar {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.social-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-icon {
  width: 10rem;
  height: 10rem;
  display: block;
}

.disclaimer {
  font-size: 3rem; /*if the root is 4px, this will be 3.2px*/
}

@media screen and (width> 960px) {
  :host {
    max-width: 175rem;
    font-size: 5rem;
  }

  .ditto {
    width: 25rem;
    height: 25rem;
  }
}
