<img class="ditto" src="./ditto.png" alt="ditto icon" />
<h2>Top Resources for devs 💻</h2>
<p>
  😎 Welcome to Dittopedia, a place where you can find a lot of
  <b>resources for developers</b>. 
</p>
<img
  class="avatar"
  src="https://avatars.githubusercontent.com/u/69241444?s=400&u=74549e639012e497bcfb5c000d0e9486dc433347&v=4"
  alt="marshall-bits avatar"
/>
<b>- About the creator:</b>
<p>
  I am <b>Marcel</b>, a <b>software developer and teacher</b> who loves to share
  knowledge with the community. I've been sharing my knowledge for over
  {{ yearsOfExperience }} years and I'm excited to share all the resources I
  found useful during my career.
  <br>
  This is my presentation page: <a target="_blank" href="https://marshall-bits.netlify.app/">marshall-bits</a>
</p>
<b>- Why did I call it Dittopedia?</b>
<p>
  Ditto is a pokemon that can transform into any other pokemon. I use this
  analogy in my classes to represent the idea of how parameters can be passed to
  a function and have different names when we pass arguments to those functions.
</p>
<p>
  Visit my social media profiles to stay up to date with the latest content:
</p>
<div class="social-container">
  <a target="_blank" href="https://www.linkedin.com/in/marcel-bosch-developer/">
    <img class="social-icon" src="./linkedin.svg" alt="linkedin icon" />
  </a>
  <a target="_blank" href="https://github.com/Marshall-Bits">
    <img class="social-icon" src="./github.svg" alt="github icon" />
  </a>
</div>
<p>Check the resources <a routerLink="/search">here</a></p>
<p class="disclaimer">
  *All the svg icons used in this page were taken from
  <a target="_blank" href="https://www.svgrepo.com">www.svgrepo.com</a>
</p>
